doctype html
html
    head
        meta(name='yandex-verification', content='394b4c006b8407b9')
        meta(name='google-site-verification', content='1d44UfeVnYjT4JL4JY3YIvChdsiyrBuF4m5wm2bqFts')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='keywords', content='аквариум,аквариумы, морские аквариумы, морские рыбки, скидки на аквариумы ')
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='stylesheets/nexus.css')
        link(rel='icon', type='image/png', href='images/logo.png')
        script(src='javascripts/jquery.min.js')
        script(src='javascripts/index.js')
        title Морские аквариумы
        link(rel='canonical', href='://www.ownsea.ru/')
    body
        .loader
            .header
                .block-logo
                    a.img-logo(href='://www.ownsea.ru/')
                        img.img-logo(src='images/logo.png', alt='Свое Море')
            .review
                .container
                .present
                    .block-text
                        span#small-span  Философия безмятежности подводного мира перед Вашим взглядом
                        br
                        a#ownsea(href='http://www.ownsea.ru/') Свое Море
            .catalogy
                .video-opactity
                .video
                    video(autoplay='', loop='', muted='muted')
                        source(src='../images/fish.mp4')
                h3#catalogy.catalogy-h Это легко
                span.catalogy-h4 спокойствие морской глубины и солнце тропиков в Ваших аппартаментах
                .wrapper
                .block.front-wall
                    h3.item_title Ларец Нептуна
                    .block-image.two-hundred-litrs
                    .block-about-text.two-hundred
                        .text-block-six
                            table
                                tr
                                    td.fish
                                        img.fish-amount(src='../images/fish.png', alt='аквариум')
                                    td.amount-litrs 200 литров
                                tr.full
                                    td Цена
                                    td.item_price 129 000 ₽
                                tr.full.full-last
                                    td
                                    td 99 000 ₽
                                tr
                                    td.gift В подарок
                                    td.gift доставка и уставнока
                                tr.full.full-first
                                    td  Выгода
                                    td  30 000 ₽
                                tr.full-about
                                    td
                                        a.about(href='http://www.ownsea.ru/%D0%BA%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3/%D0%B0%D0%BA%D0%B2%D0%B0%D1%80%D0%B8%D1%83%D0%BC%D1%8B-400/') подробнее
                                    td
                                        a.order(href='tel:+79219113025') заказать
                .block.right-wall
                    h3.item_title  Атолл
                    .block-image.four-hundred-litrs
                    .block-about-text.four-hundred
                        table
                            tr
                                td.fish
                                    img.fish-amount(src='../images/fish.png', alt='аквариум')
                                td.amount-litrs 400 литров
                            tr.full
                                td Цена
                                td.item_price 199 000 ₽
                            tr.full.full-last
                                td
                                td 149 000 ₽
                            tr
                                td.gift В подарок
                                td.gift доставка и уставнока
                            tr.full.full-first
                                td  Выгода
                                td  41 000 ₽
                            tr.full-about
                                td
                                    a.about(href='http://www.ownsea.ru/%D0%BA%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3/%D0%B0%D0%BA%D0%B2%D0%B0%D1%80%D0%B8%D1%83%D0%BC%D1%8B-400/') подробнее
                                td
                                    a.order(href='tel:+79219113025') заказать
                .block.back-wall
                    h3.item_title Коралловый заповедник
                    .block-image.six-hundred-litrs
                    .block-about-text.six-hundred
                        .text-block-six
                            table
                                tr
                                    td.fish
                                        img.fish-amount(src='../images/fish.png', alt='аквариум')
                                    td.amount-litrs 600 литров
                                tr.full
                                    td Цена
                                    td.item_price 259 000 ₽
                                tr.full.full-last
                                    td
                                    td 199 000 ₽
                                tr
                                    td.gift В подарок
                                    td.gift доставка и уставнока
                                tr.full.full-first
                                    td  Выгода
                                    td  60 000 ₽
                                tr.full-about
                                    td
                                        a.about(href='//www.ownsea.ru/%D0%BA%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3/%20%D0%BC%D0%BE%D1%80%D1%81%D0%BA%D0%BE%D0%B9-%D0%B0%D0%BA%D0%B2%D0%B0%D1%80%D0%B8%D1%83%D0%BC-600-%D0%BB%D0%B8%D1%82%D1%80%D0%BE%D0%B2%20/') подробнее
                                    td
                                        a.order(href='tel:+79219113025') заказать
                .block.left-wall
                    h3.item_title Синева Красного моря
                    .block-image.eight-hundred-litrs
                    .block-about-text
                        .text-block-six
                            table
                                tr
                                    td.fish
                                        img.fish-amount(src='../images/fish.png', alt='аквариум')
                                    td.amount-litrs 800 литров
                                tr.full
                                    td Цена
                                    td.item_price 337 000 ₽
                                tr.full.full-last
                                    td
                                    td 259 000 ₽
                                tr
                                    td.gift В подарок
                                    td.gift доставка и уставнока
                                tr.full.full-first
                                    td  Выгода
                                    td  78 000 ₽
                                tr.full-about
                                    td
                                        a.about(href='//www.ownsea.ru/%D0%BA%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3/%20%D0%BC%D0%BE%D1%80%D1%81%D0%BA%D0%BE%D0%B9-%D0%B0%D0%BA%D0%B2%D0%B0%D1%80%D0%B8%D1%83%D0%BC-800-%D0%BB%D0%B8%D1%82%D1%80%D0%BE%D0%B2%20/') подробнее
                                    td
                                        a.order(href='tel:+79219113025') заказать
                .clr
                .send-data
                    h4.statment Оставьте ваши контакты и мы вам перезвоним
                    input#name.send-input(placeholder='Имя', type='text')
                    input#phone.send-input(type='text', placeholder='Телефон')
                    input#email.send-input(type='email', placeholder='E-mail')
                    input#send(type='submit', onclick='sendMail()', value='Отправить')
                    br
                    span#message
                .clr
            .contacts
                .container-c
                    .present-2
                        .block-text-2
                            p.text-h.p-bold 3 шага
                            p.text-h к стильному интерьеру
                        .shop
                            img.icon(src='images/shop.png', alt='товар')
                            p Отправьте контакты
                        .call
                            img.icon(src='images/call.png', alt='звонок')
                            p Мы перезвоним вам уточнения заказа
                        .dostavka
                            img.icon(src='images/dostavka.png', alt='доставка')
                            p Доставим заказ
                // iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9082.799851176074!2d30.377479634435485!3d60.01572357898949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963370ac5e10b5%3A0xd0d6684732954b71!2z0YPQuy4g0JDQutCw0LTQtdC80LjQutCwINCa0L7QvdGB0YLQsNC90YLQuNC90L7QstCwLCA00LoyLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTk1NDI3!5e0!3m2!1sru!2sru!4v1512378867821', width='100%', height='400', frameborder='0', style='border:0', allowfullscreen='')
                #map
                script.
                    var map,
                        markerImage = 'images/marker.png',
                        popupContent= '<p class="content">"Свое море", Санкт-Петербург, улица Академика Константинова, дом 4, корпус 2</p>' +
                            '<p class="content">Контактные телефоны:<a href="tel:8(812)5773999">8(812) 577-39-99 ;  </a><a href="tel:+79219113025">  +7(921) 911-30-25</a> </p>';
                    window.initMap= function()  {
                        map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: 60.018384, lng: 30.377403},
                            zoom: 16
                        })
                        marker = new google.maps.Marker({
                            position: {lat: 60.018384, lng: 30.377403},
                            map: map,
                            animation: google.maps.Animation.BOUNCE,
                            icon: markerImage
                        })
                        $.getJSON('javascripts/map-styles.json', function (data) {
                            map.setOptions({styles: data});
                        });
                        infowindow = new google.maps.InfoWindow({
                            content: popupContent
                        })
                        infowindow.open(map, marker);
                        marker.addListener('click', function () {
                            infowindow.open(map, marker);
                        });
                    }
            script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAu9f06TpyzBGQjjgoaAbmFBcrDeEYXOIA&callback=initMap')
            #updown
            .footer
                .footer-block
                    a.footer-a(href='http://www.ownsea.ru/')  О компании
                    a.footer-a(href='#catalogy') Каталог
                    a.footer-a(href='http://www.ownsea.ru/%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B/') Контакты:
                    br
                    a.phone(href='tel:+79219113025') +7(921) 911-30-2
                script.
                    var updownElem = document.getElementById('updown');
                    var pageYLabel = 0;
                    updownElem.onclick = function () {
                        var pageY = window.pageYOffset || document.documentElement.scrollTop;
                        switch (this.className) {
                            case 'up':
                                pageYLabel = pageY;
                                window.scrollTo(0, 0);
                                this.className = 'down';
                                break;
                            case 'down':
                                window.scrollTo(0, pageYLabel);
                                this.className = 'up';
                        }
                    }
                    window.onscroll = function () {
                        var pageY = window.pageYOffset || document.documentElement.scrollTop;
                        var innerHeight = document.documentElement.clientHeight;
                        switch (updownElem.className) {
                            case '':
                                if (pageY > innerHeight) {
                                    updownElem.className = 'up';
                                }
                                break;
                            case 'up':
                                if (pageY < innerHeight) {
                                    console.log('up')
                                    updownElem.className = '';
                                }
                                break;
                            case 'down':
                                if (pageY > innerHeight) {
                                    console.log('down')
                                    updownElem.className = 'up';
                                }
                                break;
                        }
                    }





